@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --bg-color: #F6F6F6;
    --section-color: #FCF7F8;
    --accent-color: #006494;
    --sub-color: #F35B04;
    --important-section: #9A031E;
    --button-color: #201729;
    --text-color: #000000;
    --footer-bg: #D9D9D9;
    --icon-color: #F35B04;
    --box-shadow: 0px 4px 4px 0px rgba(32, 23, 41, 0.25);
    --Main-font: 'Roboto', sans-serif;
    --text-font: 'Archivo', sans-serif;
    --border-radius: 5px;
    --H1-font-size: 64px;
    --H2-font-size: 32px;
    --Title-font-size: 24px;
    --text-font-size: 16px;
    --icon-size: 24px;
    --button-font-size: 18px;
}

body {
    font-family: var(--Main-font);
    background-color: var(--bg-color);
  
}

.main-carousel-container {
    width: 100%;
    height: 90vh;
    background-color: var(--accent-color);
    box-shadow: var(--box-shadow);
    padding: 15px;
    box-sizing: border-box;
}

.carousel-container {
    width: 100%;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
}

.carousel-slide {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
    position: relative;
    padding: 5px;
}

.slide-inner {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.slide img {
    display: block;
    width: 220vh;
    height: 84vh;
    border-radius: 8px;
    object-fit: cover;
}

.slide-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: var(--section-color);
    text-align: left;
    padding: 20px;
    box-sizing: border-box;
    border-radius: var(--border-radius);
}

.slide-overlay h1 {
    font-size: var(--H1-font-size);
    margin-bottom: 25px;
    margin-left: 100px;
}

.slide-overlay h3 {
    font-size: 30px;
    margin: 20% 0 5px 60px;
}

#description {
    display: block;
    margin-left: 60px;
    font-size: 16px;
    color: var(--section-color);
    text-decoration: none;
    transition: color 0.3s ease;
}
  
#description:hover {
    color: var(--sub-color);
    text-decoration: underline;
}

.slide-overlay p {
    font-size: var(--Title-font-size);
    margin-left: 100px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.slide-overlay button {
    background-color: var(--button-color);
    box-sizing: border-box;
    color: var(--section-color);
    border: none;
    padding: 12px 24px;
    border-radius: 5px;
    cursor: pointer;
    width: 150px;
    margin-left: 100px;
    margin-top: 10px;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.slide-overlay button:hover {
    background-color: rgba(0, 0, 0, 0.5);
    transform: scale(1.02);
    color: var(--button-color);
}

.slide-overlay a {
    color: var(--section-color);
    text-decoration: none;
    font-size: 16px;
}

.nav-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    color: white;
    font-size: 35px;
    cursor: pointer;
    padding: 10px;
    opacity: 0.7;
    transition: opacity 0.3s ease;
    z-index: 10;
}

.nav-button:hover {
    opacity: 1;
}

.prev-button {
    left: 10px;
}

.next-button {
    right: 10px;
}

.dots-container {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    z-index: 10;
}

.dot {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 0 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.dot.active {
    background-color: white;
}

/* Mayor's Message */
#mayorsMessageSection {
    background-color: var(--icon-color);
    margin-top: 50px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    box-shadow: var(--box-shadow);
}

#mayorsMessageSection img {
    margin: 15px 0 15px 100px;
    width: 30%;
    height: 50%;
}

#mayorsMessageText {
    text-align: center;
    width: 50%;
    margin: 0 0 0 100px;
}

#mayorsMessageText h1{
    color: var(--section-color);
    font-size: var(--H1-font-size);
    margin: 20px 0 0 0;
}

hr {
    border: 2px solid #F6F6F6;
    width: 100%;
}

#message {
    width: 90%;
    margin: 50px auto;
}

#mayorsMessageText p {
    font-size: 18px;
    color: var(--section-color);
    font-family: var(--text-font);
    line-height: 1.2;
    margin-top: 20px;
}

/* Vision & Mission */
#visionMission {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px 20px;
    background-color: #F6F6F6;
    margin: 30px 0 30px 0;
}

#divVision, #divMission {
    width: 650px;
    height: 250px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: var(--border-radius);
    box-shadow: 0 4px 4px 0px rgba(32, 23, 41, 0.25);
}

#divVision h2, #divMission h2 {
    font-size: 28px;
    font-weight: 700;
    color: var(--accent-color);
    text-transform: uppercase;
    letter-spacing: 1.2px;
    text-align: center;
}

#divVision hr, #divMission hr {
    border: none;
    border-top: 3px solid var(--accent-color);
    margin: 5px auto 15px;
    width: 100%;
}

#divVision p, #divMission p {
    font-size: 18px;
    font-family: var(--text-font);
    color: var(--text-color);
    line-height: 1.6;
    text-align: center;
}

/* Emergency Hotline */
#emergencehotlines {
    padding: 30px 30px;
    background-color: var(--important-section);
    box-shadow: var(--box-shadow);
}

#divEmergency {
    width: 100%;
    margin: auto;
    padding: 30px;
    background-color: var(--important-section);
    box-shadow: var(--box-shadow);
    text-align: center;
justify-content: stretch;}

#divEmergency h2 {
    font-size: 28px;
    font-weight: 700;
    color: var(--section-color);
    text-transform: uppercase;
    margin-bottom: 15px;
    letter-spacing: 1.2px;
}

#divEmergency hr {
    border: none;
    border-top: 3px solid var(--section-color);
    margin: 0 auto 25px auto;
    width: 91%;
}

#hotlines {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;    
    gap: 20px;
    width: 98%;
    margin-bottom: 20px;
    align-items: stretch;
}

#hotline1, #hotline2, #hotline3 {
    background-color: var(--section-color);
    padding: 15px 20px;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    display: flex;
    align-items: center;
    gap: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: left;
    width: 30%; 
}

#hotline1 img,
#hotline2 img,
#hotline3 img {
    width: 70px;
    height: 73px;
    object-fit: cover;
    flex-shrink: 0;
}

.hotline-text {
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

.hotline-text h3 {
    font-size: 20px;
    font-weight: bold;
    margin: 0 0 15px 0;
    color: var(--text-color);
}

.hotline-text p {
    font-family: var(--text-font);
    font-size: 14px;
    margin: 0;
    color: var(--text-color);
    line-height: 1.4;
}

/* Latest news */
#divLatest {
    max-width: 1300px;
    margin: 60px auto;
    padding: 40px;
    background-color: var(--section-color);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}

#divLatest > h2 {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    color: var(--accent-color);
    letter-spacing: 1px;
    text-transform: uppercase;
}

#divLatest > hr {
    width: 100%;
    height: 3px;
    background-color: var(--accent-color);
    border: none;
    margin: 10px 0 30px;
}

/* headline news */
#headline {
    display: flex;
    gap: 20px;
    background-color: var(--bg-color);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    width: 90%;
    height: 300px;
    margin: 0 auto;
    justify-content: center;
}

#headline img {
    width: 40%;
    height: 100%;
    border-radius: var(--border-radius);
    object-fit: cover;
}

.headline-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

.headline-text h2 {
    font-size: var(--Title-font-size);
    font-weight: bold;
    color: var(--text-color);
    margin-bottom: 10px;
}

.headline-text p {
    font-family: var(--text-font);
    font-size: 16px;
    color: var(--text-color);
    line-height: 1.6;
    text-align: justify;
    margin-bottom: 12px;
    margin-right: 20px;

}

.headline-text a {
    font-family: var(--text-font);
    color: var(--sub-color);
    text-decoration: none;
    transition: text-decoration 0.2s ease;
}

.headline-text a:hover {
    text-decoration: underline;
}

/* lead news */
#lead {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    margin: 0 auto;
    width: 90%;
    margin-top: 20px;
    margin-bottom: 0;
}

.news-card {
    display: flex;
    width: 100%;
    height: 170px;
    gap: 20px;
    background-color: var(--bg-color);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    justify-content: center;
}

.news-card img {
    width: 45%;
    height: 100%;
    border-radius: var(--border-radius);
    object-fit: cover;
}

.lead-text {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.lead-text h3 {
    font-size: 18px;
    font-weight: bold;
    color: var(--text-color);
    margin-bottom: 10px; 
    line-height: 1.3;   
    margin-right: 15px;
}

.lead-text p {
    font-size: 12px;
    color: var(--text-color);
    line-height: 1.3;
    text-align: justify;
    margin-bottom: 12px;
    margin-right: 15px;
    font-family: var(--text-font);
}

.lead-text a {
    font-family: var(--text-font);
    font-size: 12px;
    align-self: flex-start;
    color: var(--sub-color);
    text-decoration: none;
    transition: text-decoration 0.2s ease;
    display: inline-block;
    margin: 0;
    padding: 0;
    line-height: 1;
}

.lead-text a:hover {
    text-decoration: underline;
}

/* responsiveness */

@media (max-width: 1048px) {
    .main-carousel-container {
        height: 70vh;
    }
    .slide img {
        width: 100%;
        height: 65vh;
        object-fit: cover;
    }

    .slide-overlay h1 {
        font-size: var(--H1-font-size);
        margin-left: 40px;
    }

    .slide-overlay h3,
    #description,
    .slide-overlay p,
    .slide-overlay button {
        margin-left: 40px;
    }

    .slide-overlay h3 {
        font-size: 24px;
    }

    .slide-overlay p {
        font-size: 16px;
    }

    .slide-overlay button {
        width: 130px;
        padding: 10px 20px;
    }

    #mayorsMessageSection {
        flex-direction: row;
        align-items: center;
        text-align: center;
    }

    #mayorsMessageSection img {
        margin: 20px 0;
        width: 40%;
        padding: 10px;
    }

    #mayorsMessageText {
        width: 50%;
        margin: 20px auto;
    }

    #message {
        width: 90%;
        margin: 50px auto;
    }

    #mayorsMessageText h1 {
        font-size: 36px;
        margin: 25px 0 0 0;
    }
    #mayorsMessageText p {
        font-size: 18px;
        line-height: 1.2;
    }

    #visionMission {
        padding: 30px 40px;
        gap: 15px;
    }

    #divVision, #divMission {
        flex: 1 1 100%;
        padding: 25px;
    }

    #divVision h2, #divMission h2 {
        font-size: 24px;
    }

    #divVision p, #divMission p {
        font-size: 16px;
    }

    #hotline1, #hotline2, #hotline3 {
        width: 50%;
    }

    #divEmergency h2 {
        font-size: 24px;
    }

    .hotline-text h3 {
        font-size: 18px;
    }

    .hotline-text p {
        font-size: 16px;
    }

    #divLatest > h2, .headline-text h2 {
        font-size: 24px;
    }

    #lead {
        flex-direction: row;
        align-items: center;
    }

    .news-card {
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 50%;
        height: 300px;
        margin-bottom: 0;
    }

    .news-card img {
        width: 80%;
        height: 50%;
    }


    .lead-text h3 {
        font-size: 16px;
    }

    .lead-text p, .lead-text a {
        font-size: 10px;
    }
}


@media (max-width: 600px) {
    .main-carousel-container {
        height: 40vh;
    }

    .slide img {
        width: 100%;
        height: 36vh;
        object-fit: cover;
    }

    .slide-overlay h1 {
        font-size: var(--text-font-size);
        margin-left: 30px;
        margin-bottom: 5px;
    }

    .slide-overlay h3 {
        font-size: 12px;
        margin: 35% 0 2px 30px;
    }

    #description {
        margin-left: 30px;
        font-size: 5px;
    }

    .slide-overlay p {
        font-size: 7px;
        margin-left: 30px;
        margin-bottom: 5px;
    }

    .slide-overlay a {
        font-size: 7px;
    }

    .slide-overlay button {
        width: 55px;
        margin-left: 30px;
        padding: 5px;
    }

    .nav-button {
        font-size: 20px;
    }

    .dot {
        width: 4px;
        height: 4px;
    }

    #mayorsMessageSection {
        flex-direction: column;
    }

    #mayorsMessageSection img {
        margin: 10px 0;
        width: 60%;
    }

    #mayorsMessageText {
        width: 90%;
        margin: 0 auto;
    }

    #message {
        width: 90%;
        margin: 30px auto;
    }

    #mayorsMessageText h1 {
        font-size: 24px;
    }

    #mayorsMessageText p {
        font-size: 14px;
        line-height: 1.2;
    }

    #visionMission {
        padding: 20px;
        gap: 15px;
        max-width: 540px;
        justify-content: center;
        margin: 30px auto;
    }

    #divVision, #divMission {
        padding: 20px;
        flex-direction: column;
        width: 50%;
        height: 21vh;
    }

    #divVision h2, #divMission h2 {
        font-size: 15px;
        margin-bottom: 5px;
    }

    #divVision p, #divMission p {
        font-size: 10px;
    }

    #divVision hr, #divMission hr {
        border-top: 2px solid var(--accent-color);
    }

    #hotline1, #hotline2, #hotline3 {
        width: 27%; 
        flex-direction: column;
        padding: 10px;
        text-align: center;
        height: 13vh;
        margin: 10px 2px;
    }

    #divEmergency {
        padding: 20px;
    }

    #divEmergency h2 {
        font-size: 15px;
    }

    .hotline-text h3 {
        font-size: 10px;
    }

    .hotline-text p {
        font-size: 7px;
    }

    #hotline1 img,
    #hotline2 img,
    #hotline3 img {
        width: 40px;
        height: 40px;
    }

    #divEmergency hr {
        border-top: 2px solid var(--section-color);
        width: 88%;
    }

    #divLatest {
        width: 480px;
    }

    #divLatest > hr {
        border-top: 2px solid var(--section-color);
    }

    #divLatest > h2 {
        font-size: 15px;
    }

    #headline {
        flex-direction: row;
        text-align: center;
        padding: 0;
        height: 15vh;
        gap: 15px;
    }

    #headline img {
        width: 40%;
        height: 100%;
        border-radius: var(--border-radius);
        object-fit: cover;
    }

    .headline-text h2 {
        font-size: 12px;
        text-align: left;
    }

    .headline-text p {
        font-size: 10px;
        line-height: 1.2;
    }

    .headline-text a {
        font-size: 10px;
        text-align: left;
    }

    #lead {
        gap: 10px;
        width: 90%;
        padding: 0;
        margin: 10px auto;
        height: 20vh;
    }

    .news-card {
        width: 50%;
        height: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
        gap: 5px;
        align-items: start;
    }

    .news-card img {
        height: 10vh;
        width: 100%;
    }

    .lead-text {
        gap: 5px;
        margin: 0 0 0 2px
    }

    .lead-text h3 {
        margin: 0;
        font-size: 10px;
        text-align: center;
        align-items: stretch;
    }

    .lead-text p,
    .lead-text a {
        margin-left: 12px;
        margin-bottom: 2px;
        font-size: 8px;
        text-align: justify;
    }
}

@media (max-width: 320px) {
    .main-carousel-container {
        height: 20vh;
    }

    .slide img {
        width: 100%;
        height: 16vh;
        object-fit: cover;
    }

    .slide-overlay h1 {
        font-size: 10px;
        margin-left: 30px;
        margin-bottom: 3px;
    }

    .slide-overlay h3 {
        font-size: 8px;
        margin: 20% 0 2px 20px;
    }

    #description {
        margin-left: 20px;
        font-size: 5px;
    }

    .slide-overlay p {
        font-size: 5px;
        margin-left: 30px;
        margin-bottom: 3px;
    }

    .slide-overlay a {
        font-size: 3px;
    }

    .slide-overlay button {
        width: 30px;
        margin-left: 30px;
        padding: 1px;
    }

    .dots-container {
        bottom: 10px;
    }

    .nav-button {
        font-size: 10px;
    }
    
    .dot {
        width: 3px;
        height: 3px;
        margin: 0 2px;
    }

    #mayorsMessageSection {
        flex-direction: column;
    }

    #message {
        width: 90%;
        margin: 20px auto;
       cursor: pointer;
    }

    #mayorsMessageSection img {
        margin: 0;
        width: 40%;
    }

    #mayorsMessageText hr {
        width: 95%;
        margin: 10px auto;
    }

    #mayorsMessageText h1 {
        font-size: 16px;
    }

    #mayorsMessageText p {
        font-size: 10px;
    }

    #visionMission {
        padding: 0;
        width: 80%;
    }

    #divVision, #divMission {
        padding: 15px;
        height: 13vh;
        width: 50vh;
    }

    #divVision h2, #divMission h2 {
        font-size: 10px;
        margin: 0;
    }

    #divVision p, #divMission p {
        font-size: 5px;
        margin: 0 auto;
    }

    #divVision hr, #divMission hr {
        border-top: 1px solid var(--accent-color);
        margin-bottom: 5px;
    }

    #hotline1, #hotline2, #hotline3 {
        width: 27%;
        height: 8vh;
        gap: 5px;
    }

    #divEmergency h2 {
        font-size: 10px;
        margin-bottom: 5px;
    }

    #hotlines {
        width: 100%;
        padding: 0;
        gap: 5px;
        margin: 2px 0 2px 0;
    }

    .hotline-text {
        align-items: center;
        margin-bottom: 0;
    }

    .hotline-text h3 {
        font-size: 4px;
        margin: 2px 0 2px 0;
    }


    .hotline-text p {
        font-size: 3px;
        margin: 2px 0 2px 0;
    }

    #hotline1 img,
    #hotline2 img,
    #hotline3 img {
        width: 30px;
        height: 30px;
        margin: 0 0 2px 0;

    }

    #divEmergency hr {
        border-top: 1px solid var(--section-color);
        margin-bottom: 5px;
    }

    #divLatest {
        margin: 20px auto;
        padding: 15px;
        width: 80%;
    }

    #divLatest > hr {
        border-top: 1px solid var(--section-color);
        margin-bottom: 10px;
    }

    #divLatest > h2 {
        font-size: 10px;
    }

    #headline {
        padding: 0;
        width: 90%;
        height: 10vh;
        gap: 10px;
    }

    #headline img {
        width: 50%;
        height: 10vh;
        justify-content: center;
        align-items: center;
    }

    .headline-text h2 {
        font-size: 10px;
        text-align: left;

    }

    .headline-text p {
        font-size: 5px;
        margin: 0 10px 5px 1px;

    }

    .headline-text a {
        font-size: 5px;
        text-align: left;
    }

    #lead {
        gap: 10px;
        width: 90%;
        height: 11vh;
        margin: 10px 12px 0;
    }

    .news-card {
        gap: 7px;
        width: 90vh;
        height: 10vh;
    }

    .news-card img {
        width: 100%;      
        height: 5vh;     
    }

    .lead-text {
        width: 100%;
        align-items: center;
        padding: 0;
        margin: 0 0 2px 2px;
    }   

    .lead-text h3 {
        font-size: 5px;
        margin: 2px 10px 0 3px;
    }

    .lead-text p{
        font-size: 4px;
        margin-bottom: 2%;
        margin: 0 10px 0 5px;
        line-height: 1.2;
    }

    .lead-text a {
        font-size: 4px;
        margin: 0 10px 0 5px;
    }
}
